.site-layout-content {
  min-height: 280px;
  background: #fff;
}
.header {
  position: fixed !important;
  z-index: 10 !important;
  width: 100% !important;
}
.content {
  margin-top: 80px;
}
.logo {
  color: #fff;
  margin-right: 20px;
}
.list-wrapper {
  padding: 50px 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}
.card {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
.total-card {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.flex {
  display: flex !important;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
